<div class="flex flex-col gap-1 w-full mt-4">
    @if (label) {
    <label class="text-sm md:text-base text-foreground">
        {{ label }}
    </label>
    }

    <div class="relative">
        <input [type]="type" [placeholder]="placeholder" [formControl]="control" class="
                w-full
                h-11 md:h-12
                px-4 md:px-6
                rounded-xl md:rounded-[20px]
                border border-primary-dark border-input
                bg-background text-foreground
                placeholder:text-muted-foreground
                text-sm md:text-base
                focus-visible:outline-none
                focus:ring-2 focus:ring-danger
                transition-all
            " [class.border-danger]="control.invalid && control.touched" />
    </div>
    @if (control.invalid && control.touched) {
    <p class="text-danger text-sm">
        @if (control.hasError('required')) { Este campo es obligatorio. }
        @else if (control.hasError('email')) { Formato de correo inválido. }
        @else if (control.hasError('minlength')) { Mínimo {{ control.getError('minlength')?.requiredLength }} caracteres. }
    </p>
    }
</div>