<nav class="w-full h-16 px-4 md:px-6 flex items-center justify-between bg-surface text-txt-primary shadow-md relative">

    <a routerLink="/" class="flex items-center">
        <img src="logos/logo.svg" width="50" height="40" alt="Logo NexoCPM">
    </a>

    <div class="hidden md:flex items-center gap-6 text-gray-600">
        <a (click)="goHome()" class="hover:text-primary-dark transition cursor-pointer">Inicio</a>
        <a routerLink="/app/syllabi" class="hover:text-primary-dark transition">Temarios</a>
        <a routerLink="/app/simulations" class="hover:text-primary-dark transition">Simulacros</a>
        <a routerLink="/app/ranking" class="hover:text-primary-dark transition">Ranking</a>
    </div>

    <div class="flex items-center gap-2 md:gap-4">

        @if (!(user$ | async)) {
        <app-primary-button class="hidden md:block" label="Iniciar Sesión" (click)="goLogin()" />

        <button class="md:hidden p-2" (click)="toggleMobileMenu()">
            ☰
        </button>
        }

        @if (user$ | async; as user) {

        <div class="hidden md:block relative">
            <button class="flex items-center gap-2 px-3 py-2 rounded-lg hover:bg-gray-100 transition"
                (click)="toggleUserMenu()">
                {{ user.userName }}
                <span class="text-sm">▼</span>
            </button>

            <div *ngIf="userMenuOpen"
                class="absolute right-0 mt-2 w-48 bg-white border rounded-xl shadow-lg flex flex-col">
                <button class="px-4 py-2 text-left hover:bg-gray-100" (click)="goProfile()">Perfil</button>
                <button class="px-4 py-2 text-left hover:bg-gray-100" (click)="goPreparation()">Mi preparación</button>
                <button class="px-4 py-2 text-left text-red-500 hover:bg-gray-100" (click)="logout()">Cerrar
                    sesión</button>
            </div>
        </div>

        <button class="md:hidden p-2" (click)="toggleMobileMenu()">
            ☰
        </button>

        }

    </div>
</nav>

<div *ngIf="mobileMenuOpen" class="md:hidden bg-white border-t shadow-lg px-4 py-4 flex flex-col gap-3">

    <!-- LINKS -->
    <a (click)="goHome(); closeMobileMenu()" class="cursor-pointer">Inicio</a>
    <a routerLink="/app/syllabi" (click)="closeMobileMenu()">Temarios</a>
    <a routerLink="/app/simulations" (click)="closeMobileMenu()">Simulacros</a>
    <a routerLink="/app/ranking" (click)="closeMobileMenu()">Ranking</a>
    <hr>

    @if (!(user$ | async)) {
        <div class="flex justify-center">
            <app-primary-button label="Iniciar sesión" (click)="goLogin(); closeMobileMenu()" />
        </div>
    }

    @if (user$ | async; as user) {
    <button (click)="goProfile(); closeMobileMenu()">Perfil</button>
    <button (click)="goPreparation(); closeMobileMenu()">Mi preparación</button>
    <button class="text-red-500" (click)="logout(); closeMobileMenu()">Cerrar sesión</button>
    }

</div>